### Завдання 2 
Використовуючи датасет з файлу communities.csv, виконайте регуляризацію даних. Визначте найкращий метод регуляризації для даного набору даних.

In [8]:
import pandas as pd
import numpy as np
import sklearn
import openpyxl
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import KFold, StratifiedKFold, cross_val_score
from sklearn.model_selection import train_test_split

In [12]:
df=pd.read_csv('communities.csv')
df

,Unnamed: 0,8,?,?.1,Lakewoodcity,1,0.19,0.33,0.02,0.9,...,0.12.2,0.26.1,0.2.1,0.06.3,0.04.2,0.9.1,0.5.2,0.32.2,0.14.3,0.2.2
0,0,53,?,?,Tukwilacity,1,0.00,0.16,0.12,0.74,...,0.02,0.12,0.45,?,?,?,?,0.00,?,0.67
1,1,24,?,?,Aberdeentown,1,0.00,0.42,0.49,0.56,...,0.01,0.21,0.02,?,?,?,?,0.00,?,0.43
2,2,34,5,81440,Willingborotownship,1,0.04,0.77,1.00,0.08,...,0.02,0.39,0.28,?,?,?,?,0.00,?,0.12
3,3,42,95,6096,Bethlehemtownship,1,0.01,0.55,0.02,0.95,...,0.04,0.09,0.02,?,?,?,?,0.00,?,0.03
4,4,6,?,?,SouthPasadenacity,1,0.02,0.28,0.06,0.54,...,0.01,0.58,0.10,?,?,?,?,0.00,?,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1988,1988,12,?,?,TempleTerracecity,10,0.01,0.40,0.10,0.87,...,0.01,0.28,0.05,?,?,?,?,0.00,?,0.09
1989,1989,6,?,?,Seasidecity,10,0.05,0.96,0.46,0.28,...,0.02,0.37,0.20,?,?,?,?,0.00,?,0.45
1990,1990,9,9,80070,Waterburytown,10,0.16,0.37,0.25,0.69,...,0.08,0.32,0.18,0.08,0.06,0.78,0,0.91,0.28,0.23
1991,1991,25,17,72600,Walthamcity,10,0.08,0.51,0.06,0.87,...,0.03,0.38,0.33,0.02,0.02,0.79,0,0.22,0.18,0.19
1992,1992,6,?,?,Ontariocity,10,0.20,0.78,0.14,0.46,...,0.11,0.30,0.05,0.08,0.04,0.73,0.5,1.00,0.13,0.48

In [13]:
df.shape

(1993, 129)

In [14]:
df.describe()

,Unnamed: 0,8,1,0.19,0.33,0.02,0.9,0.12,0.17,0.34,...,0.12.1,0.42,0.5.1,0.51.1,0.64,0.12.2,0.26.1,0.2.1,0.32.2,0.2.2
count,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,...,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000,1993.000000
mean,996.000000,28.693929,5.496237,0.057526,0.463462,0.179709,0.753643,0.153698,0.144009,0.424260,...,0.215600,0.608986,0.535068,0.626483,0.651535,0.065203,0.232840,0.161666,0.093939,0.237998
std,575.473863,16.395117,2.872650,0.126903,0.163731,0.253480,0.244079,0.208929,0.232549,0.155223,...,0.231182,0.204336,0.181396,0.200555,0.198271,0.109480,0.203142,0.229111,0.240335,0.233042
min,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,498.000000,12.000000,3.000000,0.010000,0.350000,0.020000,0.630000,0.040000,0.010000,0.340000,...,0.060000,0.470000,0.420000,0.520000,0.560000,0.020000,0.100000,0.020000,0.000000,0.070000
50%,996.000000,34.000000,5.000000,0.020000,0.440000,0.060000,0.850000,0.070000,0.040000,0.400000,...,0.130000,0.630000,0.540000,0.670000,0.700000,0.040000,0.170000,0.070000,0.000000,0.150000
75%,1494.000000,42.000000,8.000000,0.050000,0.540000,0.230000,0.940000,0.170000,0.160000,0.470000,...,0.280000,0.780000,0.660000,0.770000,0.790000,0.070000,0.280000,0.190000,0.000000,0.330000
max,1992.000000,56.000000,10.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [34]:
df.columns

Index(['Unnamed: 0', '8', '?', '?.1', 'Lakewoodcity', '1', '0.19', '0.33',
       '0.02', '0.9',
       ...
       '0.12.2', '0.26.1', '0.2.1', '0.06.3', '0.04.2', '0.9.1', '0.5.2',
       '0.32.2', '0.14.3', '0.2.2'],
      dtype='object', length=129)

#### Для побудови регресії оберемо колонки які містять числові данні.

In [77]:
numeric_cols = [cname for cname in df.columns if df[cname].dtype in ['int64', 'float64']]
X = df[numeric_cols].copy()
del X[X.columns [-1]]
y=np.array(df[['0.2.2']])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [78]:
lr = LinearRegression().fit(X_train, y_train)

print(f"Linear Regression-Training set score: {lr.score(X_train, y_train):.2f}")
print(f"Linear Regression-Test set score: {lr.score(X_test, y_test):.2f}")

Linear Regression-Training set score: 0.70
Linear Regression-Test set score: 0.67

### Регуляризація L1

In [79]:
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.01).fit(X_train, y_train)
print(f"Lasso Regression-Training set score: {lasso.score(X_train, y_train):.2f}")
print(f"Lasso Regression-Test set score: {lasso.score(X_test, y_test):.2f}")

Lasso Regression-Training set score: 0.57
Lasso Regression-Test set score: 0.57

In [80]:
print(f"Number of features: {sum(lasso.coef_ != 0)}")

Number of features: 5

### Регуляризація L2

In [81]:
from sklearn.linear_model import Ridge
ridge = Ridge(alpha=0.8).fit(X_train, y_train)
print(f"Ridge Regression-Training set score: {ridge.score(X_train, y_train):.2f}")
print(f"Ridge Regression-Test set score: {ridge.score(X_test, y_test):.2f}")

Ridge Regression-Training set score: 0.69
Ridge Regression-Test set score: 0.67

### Регуляризація L1 + L2

In [89]:
from sklearn.linear_model import ElasticNet
elastic_net = ElasticNet(alpha=0.02, l1_ratio=0.01).fit(X_train, y_train)
print(f"Elastic Net-Training set score: {elastic_net.score(X_train, y_train):.2f}")
print(f"Elastic Net-Test set score: {elastic_net.score(X_test, y_test):.2f}")

Elastic Net-Training set score: 0.66
Elastic Net-Test set score: 0.66

### Висновки

#### Регуляризація L2 показала найкраші результати на тренувальній та тестовій виборці, але вона не змогла покращити модель. Використовувати регуляризацію для данної моделі не має сенсу.